<!-- Tim kiem -->
<div class="row">
    <form class="form-header mb-3">
        <input class="au-input au-input--xl" type="text" name="search" ng-model="timkiemhocvien" placeholder="Nhập mã học viên..." />
        <button class="au-btn--submit" ng-click="timkiemHocvien()">
            <i class="zmdi zmdi-search"></i>
        </button>
    </form>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-success rounded-circle float-right mb-3 mr-2" data-toggle="modal" data-target="#ThemHV" onclick="myFunction()">
    <span class="fa fa-plus"></span>
</button>

<div class="row">
    <!-- Loc theo khoa hoc -->
    <div class="pt-2">
        <strong>Khoá học</strong>
    </div>
    <div class="ml-2 mr-2">
        <select required id="khoahoc" class="form-control" ng-model="makhoahoc" ng-options="kh.makhoahoc as kh.tenkhoahoc for kh in khoahoc" required>
        </select>
    </div>
    <div>
        <button type="button" class="btn btn-primary float-right mb-3 mr-2" ng-click="changeCourse()">
            Xem
        </button>
    </div>
</div>

<div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped">
        <thead class="table-dark text-light">
            <tr>
                <th style="width:5%">STT</th>
                <th ng-click="changeSortPage('MAHV')" ng-class="sortClass('MAHV')">Mã học viên</th>
                <th ng-click="changeSortPage('HO')" ng-class="sortClass('HO')">Họ</th>
                <th ng-click="changeSortPage('TEN')" ng-class="sortClass('TEN')">Tên</th>
                <th>Giới tính</th>
                <th>Điện thoại</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr style="font-size: 13px" ng-repeat="row in hocvienpage">
                <td>
                    <span ng-bind="temp2 + $index"></span>
                </td>
                <td>
                    <span ng-bind="row.mahv"></span>
                </td>
                <td>
                    <span ng-bind="row.ho"></span>
                </td>
                <td>
                    <span ng-bind="row.tenlot"></span>
                    <span ng-bind="row.ten"></span>
                </td>
                <td><span ng-bind="row.gioitinh"></span></td>
                <td><span ng-bind="row.sdt"></span></td>
                <td><span ng-bind="row.email"></span></td>
                <td>
                    <button type="button" data-toggle="modal" data-target="#ShowInfor2" onclick="myFunction()" ng-click="xemhocvien(row)"><span class="fa fa-info-circle"></span></button>
                    <button type="button" data-toggle="modal" data-target="#CapNhatHV" onclick="myFunction()" ng-click="suahocvien(row)"><span class="fa fa-edit"></span></button>
                    <button type="button" data-toggle="modal" data-target="#XoaHV" onclick="myFunction()" ng-click="xoahocvien(row.mahv)"><span class=" fa fa-trash"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    Tổng cộng: {{soluonghienthi}} học viên
</div>

<!-- Modal -->
<div class="modal fade" id="ThemHV" data-backdrop="false"  tabindex="-1" role="dialog" aria-labelledby="ThemHV" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">THÊM MỚI HỌC VIÊN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body card-block">
                        <form action="" method="post" name="FormAdd" class="form-horizontal" novalidate>
                            <i class="text-danger">*Bắt buộc</i><br><br>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="ThemHVho" class=" form-control-label">Họ <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="ThemHVho" name="ho" ng-model="hocvienThem.ho" required placeholder="Nhập họ..." class="form-control">
                                    <div ng-show="FormAdd.ho.$touched" class="text-danger">
                                        <span ng-show="FormAdd.ho.$error.required">
                                            Vui lòng nhập họ học viên
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="ThemHVtenlot" class=" form-control-label">Tên lót</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="ThemHVtenlot" ng-model="hocvienThem.tenlot" name="tenlot" placeholder="Nhập tên lót..." class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="ThemHVten" class=" form-control-label">Tên <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="ThemHVten" ng-model="hocvienThem.ten" required name="ten" placeholder="Nhập tên..." class="form-control">
                                    <div ng-show="FormAdd.ten.$touched" class="text-danger">
                                        <span ng-show="FormAdd.ten.$error.required">
                                            Vui lòng nhập tên học viên
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="ThemHVngaysinh" class="form-control-label">Ngày sinh <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="date" id="ThemHVngaysinh" ng-model="hocvienThem.ngaysinh" required name="ngaysinh" placeholder="Nhập ngày sinh..." class="form-control">
                                    <div ng-show="FormAdd.ngaysinh.$touched" class="text-danger">
                                        <span ng-show="FormAdd.ngaysinh.$error.required">
                                            Vui lòng nhập ngày sinh học viên
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="ThemHVgioitinh" class=" form-control-label">Giới tính <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col col-md-9">
                                    <div class="form-check-inline form-check">
                                        <label for="ThemHVgioitinh1" class="form-check-label ">
                                            <input type="radio" id="ThemHVgioitinh1" ng-model="hocvienThem.gioitinh" name="gioitinh" value="Nam" class="form-check-input">Nam
                                        </label>
                                        <label for="ThemHVgioitinh2" class="form-check-label m-l-20">
                                            <input type="radio" id="ThemHVgioitinh2" ng-model="hocvienThem.gioitinh" name="gioitinh" value="Nữ" class="form-check-input">Nữ
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="ThemHVsdt" class=" form-control-label">Số điện thoại <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="number" id="ThemHVsdt" ng-model="hocvienThem.sdt" name="sdt" required placeholder="Nhập số điện thoại..." class="form-control">
                                    <div ng-show="FormAdd.sdt.$touched" class="text-danger">
                                        <span ng-show="FormAdd.sdt.$error.required">
                                            Vui lòng nhập số điện thoại
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="ThemHVemail" class=" form-control-label">Email <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="email" id="ThemHVemail" ng-model="hocvienThem.email" required ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" name="email" placeholder="Nhập địa chỉ email..." class="form-control">
                                    <div ng-show="FormAdd.email.$touched" class="text-danger">
                                        <span ng-show="FormAdd.email.$error.required">
                                            Vui lòng nhập email
                                        </span>
                                        <span ng-show="FormAdd.email.$error.email">
                                            Email không hợp lệ
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="ThemHVavatar" class=" form-control-label">Hình đại diện</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input id="ThemHVavatar" name="avatar" class="form-control" type="file" accept="image/*" c-on-change="upload()" class="custom-file-input" file-model="file">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="ThemHVdiachi" class=" form-control-label">Địa chỉ</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="ThemHVdiachi" ng-model="hocvienThem.diachi" name="diachi" placeholder="Nhập địa chỉ..." class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="ThemHVtruonghoc" class=" form-control-label">Trường học <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-9 col-md-9 text-dark">
                                    <select id="ThemHVtruonghoc" name="truonghoc" class="form-control" ng-model="hocvienThem.matruong" ng-options="th.matruong as th.tentruong for th in truonghoc" required>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="ThemHVmahv" class=" form-control-label">Mã học viên <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="ThemHVmahv" ng-model="hocvienThem.mahv" required name="mahv" placeholder="Nhập mã học viên..." class="form-control">
                                    <div ng-show="FormAdd.mahv.$touched" class="text-danger">
                                        <span ng-show="FormAdd.mahv.$error.required">
                                            Vui lòng nhập mã học viên
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="ThemHVpassword" class=" form-control-label">Mật khẩu <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="password" ng-model="hocvienThem.password" required id="ThemHVpassword" name="password" placeholder="Nhập mật khẩu..." class="form-control">
                                    <div ng-show="FormAdd.password.$touched" class="text-danger">
                                        <span ng-show="FormAdd.password.$error.required">
                                            Vui lòng nhập mật khẩu
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="ThemHVkhoahoc" class=" form-control-label">Khoá học <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-9 col-md-9">
                                    <select id="ThemHVkhoahoc" name="khoahoc" class="form-control" ng-model="hocvienThem.makhoahoc" ng-options="kh.makhoahoc as kh.tenkhoahoc for kh in khoahoc" required>
                                    </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="ThemHVloaihocvien" class=" form-control-label">Loại học viên <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-9 col-md-9">
                                    <select id="ThemHVloaihocvien" name="khoahoc" class="form-control" ng-model="hocvienThem.type" ng-options="lhv.id as lhv.tenloai for lhv in loaihocvien" required>
                                    </select>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="ThemHVtgcothedilam" class=" form-control-label">Thời gian dự kiến đi làm</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="date" id="ThemHVtgcothedilam" ng-model="hocvienThem.tgcothedilam" name="tgcothedilam" placeholder="Nhập thời gian dự kiến đi làm..." class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-primary" name="create" ng-click="createStudent()">Thêm học viên</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" data-backdrop="false" id="CapNhatHV" tabindex="-1" role="dialog" aria-labelledby="CapNhatHV" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CẬP NHẬT HỌC VIÊN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body card-block">
                        <form action="" method="post" class="form-horizontal">
                            <i class="text-danger">*Bắt buộc</i><br><br>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="CapNhatHVmahv" class=" form-control-label">Mã học viên <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input disabled type="text" id="CapNhatHVmahv" ng-model="hocvienSua.mahv" required name="mahv" placeholder="Nhập mã học viên..." class="form-control">
                                    <div ng-show="FormAdd.mahv.$touched" class="text-danger">
                                        <span ng-show="FormAdd.mahv.$error.required">
                                            Vui lòng nhập mã học viên
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="CapNhatHVho" class=" form-control-label">Họ <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="CapNhatHVho" name="ho" ng-model="hocvienSua.ho" required placeholder="Nhập họ..." class="form-control">
                                    <div ng-show="FormAdd.ho.$touched" class="text-danger">
                                        <span ng-show="FormAdd.ho.$error.required">
                                            Vui lòng nhập họ học viên
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="CapNhatHVtenlot" class=" form-control-label">Tên lót</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="CapNhatHVtenlot" ng-model="hocvienSua.tenlot" name="tenlot" placeholder="Nhập tên lót..." class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="CapNhatHVten" class=" form-control-label">Tên <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="CapNhatHVten" ng-model="hocvienSua.ten" required name="ten" placeholder="Nhập tên..." class="form-control">
                                    <div ng-show="FormAdd.ten.$touched" class="text-danger">
                                        <span ng-show="FormAdd.ten.$error.required">
                                            Vui lòng nhập tên học viên
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="CapNhatHVngaysinh" class="form-control-label">Ngày sinh <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="date" id="CapNhatHVngaysinh" ng-model="hocvienSua.ngaysinh" required name="ngaysinh" placeholder="Nhập ngày sinh..." class="form-control">
                                    <div ng-show="FormAdd.ngaysinh.$touched" class="text-danger">
                                        <span ng-show="FormAdd.ngaysinh.$error.required">
                                            Vui lòng nhập ngày sinh học viên
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="CapNhatHVgioitinh" class=" form-control-label">Giới tính <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col col-md-9">
                                    <div class="form-check-inline form-check">
                                        <label for="gioitinh1" class="form-check-label ">
                                            <input type="radio" id="CapNhatHVgioitinh1" ng-model="hocvienSua.gioitinh" name="gioitinh" value="Nam" class="form-check-input">Nam
                                        </label>
                                        <label for="gioitinh2" class="form-check-label m-l-20">
                                            <input type="radio" id="CapNhatHVgioitinh2" ng-model="hocvienSua.gioitinh" name="gioitinh" value="Nữ" class="form-check-input">Nữ
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="CapNhatHVsdt" class=" form-control-label">Số điện thoại <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="number" id="CapNhatHVsdt" ng-model="hocvienSua.sdt" name="sdt" required placeholder="Nhập số điện thoại..." class="form-control">
                                    <div ng-show="FormAdd.sdt.$touched" class="text-danger">
                                        <span ng-show="FormAdd.sdt.$error.required">
                                            Vui lòng nhập số điện thoại
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="CapNhatHVemail" class=" form-control-label">Email <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="email" id="CapNhatHVemail" ng-model="hocvienSua.email" required ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" name="email" placeholder="Nhập địa chỉ email..." class="form-control">
                                    <div ng-show="FormAdd.email.$touched" class="text-danger">
                                        <span ng-show="FormAdd.email.$error.required">
                                            Vui lòng nhập email
                                        </span>
                                        <span ng-show="FormAdd.email.$error.email">
                                            Email không hợp lệ
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="CapNhatHVavatar" class=" form-control-label">Hình đại diện</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input id="CapNhatHVavatar" name="avatar" class="form-control" type="file" accept="image/*" data-c-on-change="upload()" class="custom-file-input" file-model="file">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="CapNhatHVdiachi" class=" form-control-label">Địa chỉ</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" id="CapNhatHVdiachi" ng-model="hocvienSua.diachi" name="diachi" placeholder="Nhập địa chỉ..." class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="CapNhatHVtruonghoc" class=" form-control-label">Trường học <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-9 col-md-9 text-dark">
                                    <select id="CapNhatHVtruonghoc" name="truonghoc" class="form-control" ng-model="hocvienSua.matruong" ng-options="th.matruong as th.tentruong for th in truonghoc" required>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="CapNhatHVpassword" class=" form-control-label">Mật khẩu <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="password" ng-model="hocvienSua.password" required id="CapNhatHVpassword" name="password" placeholder="Nhập mật khẩu..." class="form-control">
                                    <div ng-show="FormAdd.password.$touched" class="text-danger">
                                        <span ng-show="FormAdd.password.$error.required">
                                            Vui lòng nhập mật khẩu
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="CapNhatHVkhoahoc" class=" form-control-label">Khoá học <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-9 col-md-9">
                                    <select id="CapNhatHVkhoahoc" name="truonghoc" class="form-control" ng-model="hocvienSua.makhoahoc" ng-options="th.makhoahoc as th.tenkhoahoc for th in khoahoc" required>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="CapNhatHVloaihocvien" class=" form-control-label">Loại học viên <strong class="text-danger">*</strong></label>
                                </div>
                                <div class="col-9 col-md-9">
                                  <select id="CapNhatHVloaihocvien" name="khoahoc" class="form-control" ng-model="hocvienSua.type" ng-options="lhv.id as lhv.tenloai for lhv in loaihocvien" required>
                                  </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="CapNhatHVtgcothedilam" class=" form-control-label">Thời gian dự kiến đi làm</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="date" id="CapNhatHVtgcothedilam" ng-model="hocvienSua.tgcothedilam" name="tgcothedilam" placeholder="Nhập thời gian dự kiến đi làm..." class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-primary" name="create" ng-click="updateStudent()">Cập nhật học viên</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" data-backdrop="false" id="XoaHV" tabindex="-1" role="dialog" aria-labelledby="XoaHV" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="XoaHV">Cảnh báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Bạn có chắc muốn xoá không?</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Không</button>
                <button type="button" class="btn btn-danger" name="delete" ng-click="deleteStudent()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<!---Show infor student 2--->
<div class="modal fade" data-backdrop="false" id="ShowInfor2" tabindex="-1" role="dialog" aria-labelledby="ShowInfor2" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body card-block">
                        <div class="table-responsive table--no-card m-b-30">
                            <table class="table table-borderless table-striped">
                                <tr>
                                    <td>
                                        <strong>THÔNG TIN HỌC VIÊN</strong>
                                    </td>
                                    <td>
                                        <input style="height:0" disabled />
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="5">
                                        <img src="./assets/lib/images/avatars/{{anhdaidien}}" style="width: 200px; height:280px" alt="Avatar" />
                                    </td>
                                    <td>
                                        Họ
                                    </td>
                                    <td>
                                        <input disabled type="text" id="ho" name="ho" ng-model="hocvienXem.ho" placeholder="Nhập họ..." class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Tên lót
                                    </td>
                                    <td>
                                        <input disabled type="text" id="tenlot" ng-model="hocvienXem.tenlot" name="tenlot" placeholder="Nhập tên lót..." class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Tên
                                    </td>
                                    <td>
                                        <input disabled type="text" id="ten" ng-model="hocvienXem.ten" name="ten" placeholder="Nhập tên..." class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Giới tính
                                    </td>
                                    <td>
                                        <input disabled type="text" id="ten" ng-model="hocvienXem.gioitinh" name="ten" placeholder="Nhập tên..." class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Ngày sinh
                                    </td>
                                    <td>
                                        <input disabled type="date" id="ngaysinh" ng-model="hocvienXem.ngaysinh" name="ngaysinh" placeholder="Nhập ngày sinh..." class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Số điện thoại
                                    </td>
                                    <td colspan="2">
                                        <input disabled type="tel" id="sdt" ng-model="hocvienXem.sdt" name="sdt" placeholder="Nhập số điện thoại..." class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Email
                                    </td>
                                    <td colspan="2">
                                        <input disabled type="email" id="email" ng-model="hocvienXem.email" name="email" placeholder="quynguyen97cntt@gmail.com" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Địa chỉ
                                    </td>
                                    <td colspan="2">
                                        <input disabled type="text" id="diachi" ng-model="hocvienXem.diachi" name="diachi" placeholder="Nhập địa chỉ..." class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Trường học
                                    </td>
                                    <td colspan="2">
                                        <input disabled type="text" id="ten" ng-model="hocvienXem.matruong" name="ten" placeholder="Nhập tên..." class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Mã học viên
                                    </td>
                                    <td colspan="2">
                                        <input disabled type="text" id="mahv" ng-model="hocvienXem.mahv" name="mahv" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Khoá học
                                    </td>
                                    <td colspan="2">
                                        <input disabled type="text" id="ten" ng-model="hocvienXem.makhoahoc" name="ten" placeholder="Nhập tên..." class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Loại học viên
                                    </td>
                                    <td colspan="2">
                                        <input disabled type="text" id="ten" ng-model="hocvienXem.type" name="ten" placeholder="Nhập tên..." class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Thời gian dự kiến đi làm
                                    </td>
                                    <td colspan="2">
                                        <input disabled type="date" id="tgcothedilam" ng-model="hocvienXem.tgcothedilam" name="tgcothedilam" placeholder="Nhập thời gian dự kiến đi làm..." class="form-control">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>
<!---End show infor  2--->

<script type="text/javascript">
    $('#header-button').click(function(event) {
        myFunction2();
        //$(event.target).modal('hide');
    });
    $('#ThemHV').click(function(event) {
        $(event.target).modal('hide');
    });
    $('#ShowInfor2').click(function(event) {
        $(event.target).modal('hide');
    });
    $('#CapNhatHV').click(function(event) {
        $(event.target).modal('hide');
    });
    $('#XoaHV').click(function(event) {
        $(event.target).modal('hide');
    });

    function myFunction() {
        document.getElementById("header-desktop").style.zIndex = "1";
    }

    function myFunction2() {
        document.getElementById("header-desktop").style.zIndex = "2";
    }
</script>
